:root {
    --pri: #222831;
    --sec: #393E46;
    --ter: #182c5e;
    --accent: #eee7dd;
  }

body
{
    /*overflow: hidden;*/
    margin: 0;
    height: 100vh;
    background-color: #13171c;
    /*background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;*/

    background-image: url("/images/stars.jpg");
    background-size: cover;
    background-position: center;
}

/*meant for bettering the format for adding stars*/
#title, #formContainer
{
    position: relative;
    z-index: 1;
}

.mainTitle
{
    margin-top: 7%;
}

/* Main Header on index AND contact */
#title 
{
    font-size: 65px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: var(--accent);
}
/* Secondary Header on contact */
#message
{
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: var(--accent);
}

/* Outermost div for index central box */
#formContainer
{
    width: 400px;
    height: 300px;
    margin: 50px auto;
    padding: 2rem 2rem;
    background-color: var(--sec);
    border-radius: 85px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.sign-up-form
{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
}

.login-form
{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
}

.star-field
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*puts it behind all other content*/
    pointer-events: none;
    overflow: hidden;
}

/*hides forms initially, controlled by js*/
.hidden
{
    display: none;
}

/*all buttons are under this*/
.toggle-button, .form-submission-button
{
    background-color: #26875a;
    color: var(--accent);
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.toggle-buttons
{
    display: flex;
    justify-content: center;
}

/* Handles the buttons for all selection options */
#toggle__login, #toggle__signup, #toggle__search, #toggle__add, #toggle__delete, #toggle__edit
{
    border: none;
    padding: 0rem 1rem;
    height: 2.5rem;
    margin: -.4rem 0.3rem 3rem;
    /*margin: top, right, bottom, left*/
    font-size: 1rem;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    width: 6rem;
}

/*styling for active toggle button*/
.toggle-button.active{
    background-color: #2246a1;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.25) inset, -4px -4px 4px #1d3b86 inset; /* Looks inset */
}

/*styling for inactive toggle button*/
.toggle-button:not(.active)
{
    background-color: var(--ter);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2), -4px -4px 4px #c8c4d00a;
}

/*for the input typing fields*/
input[type="text"],input[type="password"]
{
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 1rem auto;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    height: 8%;
}

.error
{
    font-size: 14px;
    color: #000000
}
/*changes hover color for the button login/sign up buttons
ONLY*/
#loginButton:hover, #sign-up-button:hover
{
    background-color: #0060088b;
}

/*all the above stuff is styling with index.html*/

.mainContentColumns
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    margin: 1% 1.5%;
    width: 95%;
    height: 47%;
}

.leftColumn
{
    width: 45%;
    height: 27.45rem;
}

.centerDiv
{
    height: 300px;
    padding: 0px 25px 105px;
    background-color: var(--sec);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.rightColumn
{
    background-color: var(--sec);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 1.5%;
    flex-grow: .94;
    display: flex;
    flex-direction: column;
    height: 24rem;
}

.rightColumn table {
    width: 100%;
    border-collapse: collapse;
    color: var(--accent);
    flex-grow: 1; /* Allow the table to grow within the container */
}

.rightColumn th, .rightColumn td {
    border: 1px solid var(--accent);
    padding: 8px;
    text-align: left;
}

#rightBoxHeader
{
    font-size: 20px;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#Text
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
}

#loginResult{
    display: inline-block;
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}


#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult
{
    display: none;
}

#colorAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

.navbar
{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    height: 55px;
    position: sticky;
    text-decoration: none;
    top: 0;
    background-color: var(--ter);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 55px;
    z-index: 1;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__links
{
    padding: 0 1.5rem;
    text-decoration: none;
    color: var(--accent);
}

.navbar__btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    padding-right: 4rem;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 40px;
    height: 100%;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #34bc7d;
    cursor: pointer;
    text-decoration: none;
    color: var(--accent);
}

.button:hover {
    background: #26875a;
    transition: all 0.3s ease;
}

.contact__wrapper
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: var(--sec);
    height: min(400px, 80%);
    width: min(500px, 80%);
    border-radius: 85px;
}

.top__message
{
    font-size: 36px;
    color: var(--accent);
}

#addSubmit
{
    width: 100%;
}

#paginationControls button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
}

#paginationControls button:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
    color: #999;
}

#paginationControls button.active {
    background-color: #007bff; /* Example active color */
    color: white;
    border-color: #007bff;
}